@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	/* Custom colors */
	--color-primary: #27335a;
	--color-primary-light: #274882;
	--color-grey: #eaeaea;
	/* Custom background images */
	--background-image-gradient-radial: radial-gradient(
		var(--tw-gradient-stops)
	);
	--background-image-gradient-conic: conic-gradient(
		from 180deg at 50% 50%,
		var(--tw-gradient-stops)
	);
	/* Font families */
	--font-jose: var(--font-jose);
	--font-unna: var(--font-unna);
	--font-robo: var(--font-robo);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer utilities {
	.custom-checkbox {
		@apply border-2 xl:border-[3px] border-primary-light;
	}
	.custom-checkbox:checked {
		@apply bg-primary-light;
	}
	#geo-modifier .custom-checkbox {
		@apply border-white;
	}
	#geo-modifier .custom-checkbox:checked {
		@apply bg-white;
	}
	#geo-modifier .custom-checkbox::before {
		@apply bg-primary;
	}
	#price-modal .custom-checkbox {
		@apply border-white;
	}
	#price-modal .custom-checkbox:checked {
		@apply bg-white;
	}
	#price-modal .custom-checkbox::before {
		@apply bg-primary-light;
	}
	.text-balance {
		text-wrap: balance;
	}
	.selected {
		@apply !fill-yellow-400;
	}
	.hovered {
		@apply fill-red-300;
	}
	.covered-countries {
		@apply hover:fill-red-300 stroke-[.5px];
	}
	.uncovered-countries {
		@apply fill-slate-300 stroke-black stroke-[.2px];
	}
	#desktop-nav > a {
		@apply flex items-center justify-center hover:shadow-xl hover:scale-110;
	}
	.desktop-nav-li a {
		@apply w-full h-full;
	}
}

.active-link::after,
.active-sub-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background-color: #fff;
}
.active-link:hover::after {
	display: none;
}
.your-access-map {
	width: calc(100% - 7% - 270px);
}

input[type='checkbox'] {
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 2rem;
	padding: 0.1rem;
	border-radius: 0.2rem;
}
.custom-checkbox::before {
	content: '';
	width: 0.8rem;
	height: 0.8rem;
	clip-path: polygon(16% 38%, 36% 74%, 92% 23%, 82% 15%, 40% 49%, 28% 29%);
	transform: scale(0);
	background-color: white;
}

.custom-checkbox:checked::before {
	transform: scale(1);
}

.custom-checkbox:checked {
	background-color: '#009EC2';
}

@media (min-width: 1280px) {
	.custom-checkbox::before {
		width: 1.4rem;
		height: 1.4rem;
	}
	input[type='checkbox'] {
		appearance: none;
		-webkit-appearance: none;
		display: flex;
		align-content: center;
		justify-content: center;
		font-size: 2rem;
		padding: 0.1rem;
		border-radius: 0.3rem;
	}
}
